@charset "UTF-8"


html {
  font-size: 18px;

}

body {
background-color: black;
}

.logos {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

span {
  display: flex
}

span  {
  disply: flex;
  justify-content: center;
  color: #b30000;

}

.link a:hover {
  color: #00ff00;
}

.link a:active {
  position: relative;
  top: 2px;
  right: 2px;
}

.creator {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 38.6rem;
}

.creator span {
  font-size: .8rem;
}
