@charset "UTF-8"


@page  {
  size: 8.5in 11in;
  margin: 2cm;
}

@page {
  size: portrait;
}

@page {
  rotated {size : landscape }
  table { page : rotated }
}

@media screen and (device-min-width: 480px) {
  .container {
    min-width: 480px;
    max-width: 1280px;
  }

}



/* universal styles */
html {
  font-size: 18px;
  width: 100%;
}

body {
background-color: black;
}

/* content */
.container {
  margin-top: 0.3rem;
  width: 100%;
  background-color: #ff6666;
  height: 12.5rem;
  border-radius: 20px 20px 20px 20px;
  border: 2px solid  #cc0000;
}

.link a {
  font-size: 1.4rem;
}

.container a:hover {
  cursor: col-resize;
}

.container a:active {
  position: relative;
  top: 3px;
  right: 3px;
}

.logos {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.joes img {
  height: 12.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  opacity: 4%;
  border: 1px solid black;
}

.hope img {
  height: 12.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  border: 1px solid black;
}

/* link */
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.link a:hover {
  color:  #ffcccc;
  font-size: 1.5rem;
  cursor: crosshair;
}

.link a:active {
  position: relative;
  top: 5px;
  right: 5px;
  border: 3px solid #ffcccc;
  border-radius: 15px;
  background-color: rgba(255,0,0,0.8);
}

/* information */
.information {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  font-size: 1.4rem;
  font-family: Helvetica, Georgia, sans-serif;
}

.information a:hover {
  font-size: 1.5rem;
  border-radius: 15%;
  color: #ffcccc;
}


.information a:active {
  position: relative;
  top: 3px;
  right: 3px;
}

.gracias:hover {
  font-size: 3rem;
  transition: all 1s ease-out;
  color: rgba(255,0,0,0.8);
  text-decoration: underline;
}

.note {
  text-decoration: underline;
}

.creator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 20.7rem;
}

.creator span {
  font-size: .8rem;

}

.creator span:hover {
  font-size: 1rem;
  color: #0000ff;
}

 span img:hover {
  size: 6rem;
}
